.blog-heading--without-preceeding-icon {
	padding-left: 1.9rem;
}

.blog-heading-icon {
    padding-left: 1rem;
}

.blog-heading-icon.preceeding {
	/*padding-right: 0.5rem;*/
	padding-left: 0;
}

.blog-heading-icon svg {
	width: 1.5rem;
	height: 1.1rem;


}

#editor-container {
    height: 28rem;
}