{% extends 'blog/blog_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block custom_blog_head_elements %}
<link rel="stylesheet" href="{% static 'blog/forms.css' %}">
{% endblock %}

{% block hero-image-type %}
<div class="hero-sub-image hero-sm deep-blue">
{% endblock %} 

{% block hero-image-text %}
{% endblock %} 

{% block blog_heading %}
<p class="heading-text padding-top padding-bottom text-center">
    Write Away  <img src="https://img.icons8.com/cute-clipart/64/000000/airplane-window-open.png">
</p>
{% endblock %}

{% block blog_body %}
  <div id="sb-blog-form">
    {% crispy form %}
  </div>
{% endblock %}

{% block custom_footer_elements %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <a class="text-muted" href="https://icons8.com/icon/77154/identity-theft">
            Check out Icons8! I used their icons
        </a>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_javascript_includes %}
<script src="{% static 'blog/js/blogentry_form.js' %}"></script>
{% endblock %}

