{% extends 'blog/blog_base.html' %} 
{% load static %} 

{% block hero-image-type %}
<div class="hero-blog-image-small user-list">
{% endblock %} 

{% block hero-image-text %}
{% endblock %} 

{% block blog_heading %}
<p class="heading-text padding-top padding-bottom text-center">
    Authors 
</p>
{% endblock %}

{% block blog_body %}
<div class="container padding-top">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">
                    <a href="{% url 'user:user-profile'%}">
                    {{ user.username }}
                    </a>
                </th>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_footer_elements %}
{% endblock %}