.text-lg-form-wrapper {
    font-size: 1.5rem;
    color: #dc4bfc;
}

.text-lg-form-wrapper small {
    font-size: 1rem;
    color: #4b69fc !important;
}

.form-center {
    margin-left: auto;
    margin-right: auto;
}

.text-lg-form-wrapper input {
    height: 2.99rem;
    font-size: 1.5rem;

    border-image: linear-gradient(to right, #dc4bfc, #4b69fc);

    border-image-slice: 1;

    border-width: 0.1rem;

    box-shadow: none;
    -webkit-box-shadow: none;
    
    color: #4b69fc;
}

.text-lg-form-wrapper select {
    height: 2.99rem;
    font-size: 1.5rem;
    border-image: linear-gradient(to right, #0852ff, #4b69fc);
    border-image-slice: 1;

    color: #4b69fc;
}

.text-lg-form-wrapper textarea {
    font-size: 1.5rem;

    border-image: linear-gradient(to right, #0852ff, #4b69fc);
    border-image-slice: 1;
    color: #4b69fc;
}

.text-lg-form-wrapper input:focus, 
.text-lg-form-wrapper textarea:focus, 
.text-lg-form-wrapper select:focus  {
    color: #dc4bfc;
}

.text-lg-form-wrapper label {
    margin-top: 1rem;
}
