.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
}

.hero-image {
    background: linear-gradient(to right, #4cdaef, #b270fa);
    height: 100vh;
}

.hero-sub-image {   
    height: 30rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.red {
    background-image: linear-gradient(to top, #5a52ff, #ff5291);
}

.blue {
    background: linear-gradient(to top, #3d6eff, #4400ff);
}

.purple {
    background-image: linear-gradient(to top, #5a52ff, #ff52f1);
}

.hero-sub-image.hero-sm {
    height: 10rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.white--transition-to-morning-blue {
    background-image: linear-gradient(to top, #564aff, #958cff, #ffffff, #ffffff, #ffffff, #ffffff);
}

.deep-blue  {
    background-image: linear-gradient(to top, #1100ff, #0044ff);
}

.light-purple {
    background-image: linear-gradient(to top, #9a8cff, #9354ff);
}

.noon-blue {
    background-image: linear-gradient(to top, #8abdff, #6171ff);
}

.morning-red {
    background-image: linear-gradient(to top, #ff8af7, #6171ff);
}

.morning-blue {
    background-image: linear-gradient(to top, #4a80ff, #564aff);
}

.morning-blue--transition-to-blue {
    background-image: linear-gradient(to top, #4400ff, #4a80ff);
}

.clear-white {
    color: black !important;
}

.hero-sub-text {
    transform: translateY(7rem);
    color: white;
}

.hero-sub-heading {
    font-size: 2.9rem;
    font-weight: 400;
}

.hero-sub-subheading {
    font-size: 1.9rem;
    font-weight: 400;
}

.hero-sub-sm-text {
    transform: translateY(3.6rem);
}


.hero-home-heading {
    font-weight: 400;
    font-size: 4rem;
    color: white;
}

.hero-home-subheading {
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.hero-large-heading {
    font-size: 4.375rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.hero-large-sub-heading {
    font-size: 2.1875rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 575.98px) {
    .hero-home-heading {
        font-size: 2.4rem;
    }
    .hero-home-subheading {
        font-size: 1.4rem;
    }
    .hero-small-heading {
        font-size: 2.2rem;
    }
    .hero-small-subheading {
        font-size: 1.5rem;
    }
}


