html {
    font-size: 16px;
}

.title-font {
    font-size: 50px;
    color: #000000;
    text-align: center;
}

.subtitle-font {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    text-align: left;
}

.body-text {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.card-header {
    font-size: 23px;
}


/*Resume-Exclusive Classes*/

.resume-heading {
    font-size: 27px;
    font-weight: 300;
    text-align: center;
}

.self-portrait {
    height: 500px;
    width: auto;
    border-radius: 5px;
    content: url("./pic_of_me.jpg")
}

.black-background {
    background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar-blue {
    background-color: #002651;
}

.navbar-transparent {
    background: rgba(119, 136, 153, 0);
}

.button-cover {
    text-align: center;
}

.padding-on-mobile {
    padding-top: 0px;
}

.hide-on-mobile {
    display: block;
}


/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}


/*Extra Small Devices*/

@media (min-device-width: 300px) and (max-device-width: 575.98px) {
    a#introButton {
        width: 100px;
        height: 40px;
        padding-left: 9px;
        padding-top: 3px;
        padding-bottom: 0px;
        padding-right: 10px;
        border-color: black;
        color: black;
    }
    a#introButton:hover {
        background-color: black;
        color: white;
    }
    div.button-cover {
        text-align: center;
    }
    div.hero-large-font {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    div.hero-large-sub-font {
        font-size: 20px;
        font-weight: 400;
    }
    div.title-font {
        font-size: 25px;
        text-align: left;
    }
    div.hero-small-text {
        position: relative;
        transform: translateY(3.4rem);
    }
    div.subtitle-font {
        font-size: 15px;
        font-weight: 600;
    }
    .body-text {
        font-size: 15px;
    }
    div.card-heading-text {
        font-size: 18px;
        padding-left: 5px;
        padding-top: 20px;
        text-align: left;
    }
    div.first-card-heading {
        padding-top: 0px;
    }
    div.card-heading-body {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    div.card-header {
        font-size: 20px
    }
    .self-portrait {
        height: 18rem;
        margin-left: auto;
        margin-right: auto;
    }
    div.image-side-text {
        padding-top: 20px;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    div.resume-heading {
        font-size: 20px;
        text-align: left;
    }
    div.padding-on-mobile {
        padding-top: 10px;
    }
    div.hide-on-mobile {
        display: none;
    }
}

@media (min-device-width: 576px) and (max-width: 991.98px) {
    div.button-cover {
        text-align: left;
    }
    div.title-font {
        font-size: 25px;
        text-align: left;
    }
    div.subtitle-font {
        font-size: 15px;
        font-weight: 600;
    }
    .body-text {
        font-size: 15px;
    }
    div.card-heading-text {
        font-size: 18px;
        padding-top: 20px;
        text-align: center;
    }
    div.first-card-heading {
        padding-top: 0px;
    }
    div.card-heading-body {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    div.card-header {
        font-size: 20px
    }
    img.self-portrait {
        height: 300px;
        width: auto;
    }
    div.image-side-text {
        padding-top: 20px;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    div.resume-heading {
        font-size: 20px;
        text-align: left;
    }
    div.padding-on-mobile {
        padding-top: 10px;
    }
    div.hide-on-mobile {
        display: none;
    }
    div.hero-text {
        transform: translate(1rem, 1rem);
    }
}

@media (min-device-width: 992px) and (max-device-width: 1199.98px) {
    div.button-cover {
        text-align: left;
    }
    div.hero-large-font {
        font-size: 30px;
        text-align: left;
        font-weight: 400;
        padding-bottom: 10px;
    }
    div.hero-large-sub-font {
        font-size: 20px;
        text-align: left;
        font-weight: 400;
    }
    div.title-font {
        font-size: 25px;
        text-align: left;
    }
    div.hero-small-text {
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
    }
    div.subtitle-font {
        font-size: 15px;
        font-weight: 600;
    }
    .body-text {
        font-size: 15px;
    }
    div.card-heading-text {
        font-size: 18px;
        padding-top: 20px;
        text-align: center;
    }
    div.first-card-heading {
        padding-top: 0px;
    }
    div.card-heading-body {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    div.card-header {
        font-size: 20px
    }
    img.self-portrait {
        height: 300px;
        width: auto;
    }
    div.image-side-text {
        padding-top: 20px;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    div.resume-heading {
        font-size: 20px;
        text-align: left;
    }
    div.padding-on-mobile {
        padding-top: 10px;
    }
    div.hide-on-mobile {
        display: none;
    }
}