:root {
    --gray-link: #696969;
}

.hero-large-heading {
    font-size: 4.375rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.hero-large-sub-heading {
    font-size: 2.1875rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.heading-text {
    font-size: 2rem;
    font-weight: 300;
}

.subheading-text {
    font-weight: 300;
    font-size: 1.55rem;
}

.reading-font {
    font-weight: 300;
    font-size: 1.18rem;
}

.reading-font-lg {
    font-weight: 300;
    font-size: 1.5rem;
}

.attribute-heading-text {
    font-size: 1.75rem;
}

.attribute-body-text,
.card-body-text {
    font-size: 1rem;
}

.gray-link {
    color: var(--gray-link);
}