:root {
    --gray-link: #696969;
}

.heading-text {
    font-size: 2rem;
    font-weight: 300;
}

.subheading-text {
    font-weight: 300;
    font-size: 1.55rem;
}

.reading-font {
    font-weight: 400;
    font-size: 1.18rem;
}

.reading-font-lg {
    font-weight: 400;
    font-size: 1.5rem;
}

.attribute-heading-text {
    font-size: 1.75rem;
}

.attribute-body-text,
.card-body-text {
    font-size: 1rem;
}

.gray-link {
    color: var(--gray-link);
}
