.hero-image {
    background-image: url("./cover-image-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-sub-image {
    background-image: url("./cover-image-3.jpg");
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    transform: translateY(10rem);
}

.hero-small-text {
    transform: translateY(10rem);
}

.hero-resume-text {
    transform: translateY(5rem);
}

.hero-small-heading {
    font-size: 3.7rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

.hero-small-subheading {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

.hero-home-heading {
    font-weight: 400;
    font-size: 4rem;
    color: white;
}

.hero-home-subheading {
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.hero-large-heading {
    font-size: 4.375rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.hero-large-sub-heading {
    font-size: 2.1875rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

/* Laptop L and Desktop Displays */
@media (min-width: 1101px) {
    .hero-image {
        height: 100vh;
    }

    @media (max-height: 600px ) {
        .hero-image {
            height: 40rem;
        }
    }
}


/* Large Tablet and Small Laptop Displays */
@media (min-width: 769px) and (max-width: 1100px) {
    .hero-image {
        height: 100vh;
    }
    .hero-text {
        transform: translate(0rem, 7rem);
        padding-top: 5rem;
    }

    @media (max-height: 700px) {
        .hero-image {
            height: 30rem;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .hero-image {
        height: 100vh;
    }
    div.hero-text {
        padding-top: 5rem;
        transform: translate(0rem, 7rem);
    }

    @media (max-height: 700px) {
        .hero-image {
            height: 40rem;
        }
    }
}


/*Extra Small Devices*/

@media (min-width: 300px) and (max-width: 575.98px) {
    #introButton {
        display: none;
    }
    .hero-home-heading {
        font-size: 2.4rem;
    }
    .hero-home-subheading {
        font-size: 1.4rem;
    }
    .hero-small-heading {
        font-size: 2.2rem;
    }
    .hero-small-subheading {
        font-size: 1.5rem;
    }
    div.hero-text {
        padding-top: 1rem;
        transform: translate(0rem, 1rem);
    }
    .hero-image {
        height: 35vh;
    }
    div.hero-sub-image {
        height: 14rem;
    }
}


