.hero-image {
    background-image: url("./cover-image-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-resume {
    background: linear-gradient(to top, #3d6eff, #4400ff);
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    transform: translateY(10rem);
}

.hero-sub-page-text {
    transform: translateY(7rem);
    color: white;
}

.hero-sub-page-heading {
    font-size: 2.9rem;
    font-weight: 400;
}

.hero-sub-page-subheading {
    font-size: 1.9rem;
    font-weight: 400;
}

.hero-home-heading {
    font-weight: 400;
    font-size: 4rem;
    color: white;
}

.hero-home-subheading {
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.hero-large-heading {
    font-size: 4.375rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.hero-large-sub-heading {
    font-size: 2.1875rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

/* Laptop L and Desktop Displays */
@media (min-width: 1101px) {
    .hero-image {
        height: 100vh;
    }

    @media (max-height: 600px ) {
        .hero-image {
            height: 40rem;
        }
    }
}


@media (min-width: )

/* Large Tablet and Small Laptop Displays */
@media (min-width: 769px) and (max-width: 1100px) {
    .hero-image {
        height: 100vh;
        background: linear-gradient(to top, #429bf5, #0021f5);
    }

    .hero-text {
        transform: translate(0rem, 4rem);
    }

    @media (max-height: 800px) {
        .hero-text {
            transform: translate(0rem, 11rem);
        }
    }

    @media (min-height: 900px) and (max-height: 1199px) {
        .hero-text {
            transform: translate(0rem, 17rem);
        }
    }

    @media (min-height: 1200px) {
        .hero-text {
            transform: translate(0rem, 25rem);
        }
    }

    @media (max-height: 700px) {
        .hero-image {
            height: 30rem;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .hero-image {
        height: 100vh;
        background: linear-gradient(to top, #429bf5, #0021f5);
    }

    div.hero-text {
        transform: translate(0rem, 4rem);
    }

    @media (max-height: 500px) {
        .hero-image {
            height: 31.25rem;
        }
    }

    @media (min-height: 1000px) {
        div.hero-text {
            transform: translate(0rem, 19rem);
        }
    }
}


/*Extra Small Devices*/

@media (min-width: 300px) and (max-width: 575.98px) {
    div.hero-text {
        transform: translate(0rem, 11rem);
    }

    /* If the user resizes their browser's width (while
    maintaining their viewport's height) */
    @media (min-height: 900px) {
        div.hero-text {
            transform: translate(0, 18rem);
        }
    }

    /* For devices with a smaller height, like a Galaxy S5 */
    @media (max-height: 700px) {
        div.hero-text {
            transform: translate(0rem, 7rem);
        }
    }

    .hero-home-heading {
        font-size: 2.4rem;
    }
    .hero-home-subheading {
        font-size: 1.4rem;
    }
    .hero-small-heading {
        font-size: 2.2rem;
    }
    .hero-small-subheading {
        font-size: 1.5rem;
    }

    .hero-image {
        height: 100vh;
        background-position: top;
        background: linear-gradient(to top, #429bf5, #0021f5);
    }
}


