.nav-item .nav-text {
    /*font-family: "Roboto";*/
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: 0.25rem solid transparent;
    fill: white;
}

.nav-item .nav-link {
    margin-left: 3rem;
}

.nav-item .nav-link svg {
    width: 3rem;
    height: 3rem;
}

.nav-item.mobile .nav-link svg {
    height: 1rem;
}

.nav-item.mobile .nav-link .svg-text {
    float: unset;
}

.nav-item .nav-link .svg-text {
    float: right;
    padding-left: 0.3rem;
}

.nav-link .svg-text.mobile {
    float: unset;
}

.nav-text--dark {
    color: black;
}

.nav-text--light {
    color: white;
}

.nav-text--dark:hover {
    color: gray;
    /*border-bottom-color: gray;*/
}

.nav-text--light:hover {
    color: #cccecf;
    fill: #cccecf;
}

.navbar-mobile {
    background-color: rgba(8, 20, 255, 0.9);
    display: none;
}

.navbar-desktop {
    display: block;
}

@media (min-width: 300px) and (max-width: 1000px) {
    .navbar-mobile {
        display: block;
    }
    .navbar-desktop {
        display: none;
    }
}