.nav-text {
    /*font-family: "Roboto";*/
    font-size: 20px;
    font-weight: 400;
    border-bottom: 0.25rem solid transparent;
    fill: white;
}

.nav-link img {
    width: 1.4rem;
    fill: white;
    padding-bottom: 0.3rem;
}

.nav-text--dark {
    color: black;
}

.nav-text--light {
    color: white;
    fill: white;
}

.nav-text--dark:hover {
    color: gray;
    /*border-bottom-color: gray;*/
}

.nav-text--light:hover {
    color: #cccecf;
}

.navbar-mobile {
    background-color: rgba(8, 20, 255, 0.9);
    display: none;
}

.navbar-desktop {
    display: block;
}

@media (min-width: 300px) and (max-width: 1000px) {
    .navbar-mobile {
        display: block;
    }
    .navbar-desktop {
        display: none;
    }
}