.nav-text  {
	/*font-family: "Roboto";*/
	font-size: 20px;
	font-weight: 400;
	border-bottom: 0.25rem solid transparent;
}

.nav-text--dark {
	color: black;
}

.nav-text--light {
	color: white;
}


.nav-text--dark:hover {
	color: gray;
	/*border-bottom-color: gray;*/
}

.nav-text--light:hover {
	color: #cccecf;
}