.content-top {
	padding-top: 2rem;
}

.padding-top {
    padding-top: 2rem;
}

.padding-top--2 {
    padding-top: 3rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.padding-bottom--2 {
    padding-bottom: 3rem;
}