{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Software Development, Freelance, and Blogging">
    <meta name="author" content="Wassim Katbey">
    <title>Wassim Katbey</title>
    <link rel="stylesheet" href="{% static 'sph_style/framework.css' %}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% block head_elements %}
    {% endblock %}
</head>
<body class="bg-light">

{% block hero-image-type %}
<div class="hero-image">
    {% endblock %}
    <nav>
        <ul class="navbar-container">
            {% block desktop-home-nav %}
            <li class="nav-item">
                <a class="nav-text" href="{% url 'static_website:index' %}">
                    <svg>
                        <use href="{% static 'sph_style/icons/home.svg#home' %}"></use>
                    </svg>
                </a>
            </li>
            {% endblock %}
            {% block desktop-resume-nav %}
            <li class="nav-item">
                <a class="nav-text" href="{% url 'static_website:resume' %}">
                    <svg>
                        <use href="{% static 'sph_style/icons/resume.svg#resume' %}"></use>
                    </svg>
                </a>
            </li>
            {% endblock %}
            {% block desktop-blog-nav %}
            <li class="nav-item">
                <a class="nav-text" href="{% url 'blog:blog-list' %}">
                    <svg>
                        <use href="{% static 'sph_style/icons/blog.svg#blog' %}"></use>
                    </svg>
                </a>
            </li>
            {% endblock %}
            {% block blog-profile-link %}
            {% endblock %}
            {% block blog-create-link %}
            {% endblock %}
            <li class="nav-item">
                <a class="nav-text" href="http://github.com/wkatbey">
                    <svg>
                        <use href="{% static 'sph_style/icons/github.svg#github' %}"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    {% block hero-image-text %}
    <div class="hero-text text-center">
    </div>
    {% endblock %}
</div>


{% block body %}

{% endblock %}

{% block custom_footer_elements %}
<footer class="footer" style="margin-top: 5%">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a class="text-muted" href="https://icons8.com">
                    Check out Icons8! I used their icons
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <span class="text-muted">Copyright &copy Wassim Katbey 2018</span>
            </div>
        </div>
        <br>
    </div>
</footer>
{% endblock %}


<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.1.0/email.min.js"></script>
<script src="{% static 'blog/js/blogentry_form.js' %}"></script>
</body>
</html>
