{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block hero-image-text %}
<div class="container-fluid hero-text">
  <p class="hero-home-heading text-center">Wassim Katbey</p>  
  <p class = "hero-home-subheading text-center">
    Full-Stack Web Developer, and Hobbyist
  </p>
  <div class="text-center">
    <form action="#intro">
      <button type="submit" id = "introButton" class="btn-hover color-9 text-center">Meet Me</button>
    </form>
  </div>
</div>
{% endblock %}

{% block mobile-home-nav %}
<li class="nav-item mobile">
  <a class="nav-link nav-text nav-text--light" href="{% url 'static_website:index' %}">
    <svg>
      <use href="{% static 'static_website/icons/home-solid.svg#home' %}"></use>
    </svg> 
    <span class="svg-text">Home</span>
  </a>
</li>
{% endblock %}

{% block desktop-home-nav %}
<li class="nav-item">
  <a class="nav-link nav-text nav-text--light" href="{% url 'static_website:index' %}">
    <svg>
      <use href="{% static 'static_website/icons/home-solid.svg#home' %}"></use>
    </svg> 
    <span class="svg-text">Home</span>
  </a>
</li>
{% endblock %}

{% block hero-image-type %}
<div class = "hero-image">
{% endblock %}

{% block body %}
<main>
  <div class = "container content-top">
    <p class = "heading-text text-center" id="intro">
      Allow me to introduce myself <img src="https://img.icons8.com/nolan/64/identity-theft.png">
    </p>
    <hr class="padding-bottom">
  	<div class="row padding-bottom">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 align-self-center">
        <p class = "reading-font">
          My name is Wassim, and I study Computer Science at Wayne State University. <br><br>I write web applications using a variety of frameworks. 
          I've used several frameworks for both academic, side, and professional work. I like learning about, and experimenting with new web technologies, 
          like Angular and Vue. However, my qualities go beyond technical skillset.
        </p>
        <br>
        <p class = "reading-font">
          Besides work, I have lots of hobbies and interests. I love Aviation, catch up on the latest in the industry, and use a flight simulator.
        
          I love Architecture and Civil Engineering, and watch many documentaries depicting the construction of symbolic skyscrapers.
          Additionally, I like photography (I took every photo on this website!).
        </p>
      </div>
    </div>
  </div>
  <div class="black-background">
  	<div class="container-fluid">
  		<p class = "heading-text text-center padding-bottom padding-top">What am I like? </p>
	    <div class="row">
	      <div class="col-lg-2"></div>
	      <div class="col-lg-7">
	        <div class="attribute-heading-text padding-bottom">>>> Problem Oriented</div>
	        <div class = "attribute-body-text text-left">
	          As a junior developer, I encounter many problems while programming. My first solution is to reference
            official documentation wherever I can, so long as it's relevant. From there I look for other sources to 
            see if anybody else has encountered the same problem. Knowing how to search for what I'm looking for is a 
            skill that took some time to develop.
	        </div>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-lg-3"></div>
	      <div class="col-lg-7">
	        <div class="attribute-heading-text padding-bottom">>>> Self Motivated </div>
	        <div class = "attribute-body-text text-left">
            I love programming and have the drive to work on many different projects. I love learning frameworks and using API's
            I've never used before. Additionally, I like having a small project I can work on whenever I have the time.
	        </div>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-lg-4"></div>
	      <div class="col-lg-7">
	        <div class="attribute-heading-text padding-bottom">>>> Ambitious</div>
	        <div class = "attribute-body-text text-left">
            Programming is a very serious tool and can be used to create a very large (and useful) project. I'd like to play
            a part in the development of a great product.
	        </div>
	      </div>
	    </div>
	    <br><br><br>
  	</div>  
  </div>
  <div class="container">
    <p class = "heading-text padding-top padding-bottom text-center">
      Discover my work <img src="https://img.icons8.com/nolan/64/cafe.png">
    </p>
    <div class="row">
      <div class="col-lg-12">
        <div class="reading-font">
        Now that we're well acquainted, take some time to look through my work. If you're looking to see projects I'm currently working on, check out my
        <a style = "color: #696969" href = "http://github.com/wkatbey">Github</a>. If you're an employer, looking for a detailed, technical skillset, you'll find all that and more in
        <a style = "color: #696969" href = "{% url 'static_website:resume' %}">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <p class = "heading-text padding-top padding-bottom text-center">
      Let's get in contact <img src="https://img.icons8.com/nolan/64/contacts.png">
    </p>
    <div class="row">
      <div class = "col-lg-4">
        <div class="card border-secondary mb-3" style="max-width: 25rem;">
          <div class="card-header">Wassim Katbey</div>
          <div class="card-body text-secondary">
            <p class="card-text">Phone Number: (313)-421-0627</p>
            <p class="card-text">Email: katbeywassim@gmail.com</p>
          </div>
        </div>
      </div>
      <div class = "col-lg-7">
        <div class = "reading-font">
          You can call me from Monday-Friday, 10AM-6PM. Additionally, you can send me an email any day of the week, I check my email often
        </div>
      </div>
    </div>
    <p class = "heading-text padding-top padding-bottom text-center">
      Send me an Email! <img class="pb-2" src="https://img.icons8.com/nolan/64/email.png">
    </p>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
          <div class="col-lg-6">
              {{ form.first_name | as_crispy_field }}
          </div>
          <div class="col-lg-6">
              {{ form.last_name | as_crispy_field }}
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              {{ form.email | as_crispy_field }}
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              {{ form.inquiry | as_crispy_field }}
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <button type="submit" class="btn btn-outline-dark btn-block">Send</button>
          </div>
      </div>
    </form>
  </div>
</main>

{% endblock %}