{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_elements %}
<link rel="stylesheet" href="{% static 'static_website/backgrounds.css' %}">
{% endblock %}


{% block hero-image-text %}
<div class="container-fluid hero-text">
  <p class="hero-home-heading text-center">Wassim Katbey</p>
  <p class = "hero-home-subheading text-center">
    Full-Stack Web Developer, and Hobbyist
  </p>
</div>
{% endblock %}

{% block hero-image-type %}
<div class = "hero-image">
{% endblock %}

{% block body %}

{% endblock %}
