{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block hero-image-text %}
<div class="container-fluid hero-text">
  <p class="hero-home-heading text-center">Wassim Katbey</p>
  <p class = "hero-home-subheading text-center">
    Full-Stack Web Developer, and Hobbyist
  </p>
  <div class="text-center padding-top">
    <form action="#intro">
      <button type="submit" id = "introButton" class="btn-outline-gradient-blue--light text-center">Meet Me</button>
    </form>
  </div>
</div>
{% endblock %}

{% block desktop-home-nav %}
<li class="nav-item">
  <a class="nav-text nav-text--light" href="{% url 'static_website:index' %}">
    <svg>
      <use href="{% static 'static_website/icons/home.svg#home' %}"></use>
    </svg> 
  </a>
</li>
{% endblock %}

{% block hero-image-type %}
<div class = "hero-image">
{% endblock %}

{% block body %}
<main>
  <div class = "container content-top">
    <p class = "heading-text text-center" id="intro">
      Allow me to introduce myself <img src="https://img.icons8.com/nolan/64/identity-theft.png">
    </p>
    <hr class="padding-bottom">
  	<div class="row padding-bottom">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 align-self-center">
        <div class='reading-font'>
          {{ home_page.intro | linebreaks }}
        </div>
      </div>
    </div>
  </div>
  <div class="black-background">
  	<div class="container-fluid">
  		<p class = "heading-text text-center padding-bottom padding-top">What am I like? </p>
	    <div class="row">
	      <div class="col-lg-2"></div>
	      <div class="col-lg-7">
	        <div class="attribute-heading-text padding-bottom">>>> Problem Oriented</div>
	        <div class = "attribute-body-text text-left">
	          As a junior developer, I encounter many problems while programming. My first solution is to reference
            official documentation wherever I can, so long as it's relevant. From there I look for other sources to
            see if anybody else has encountered the same problem. Knowing how to search for what I'm looking for is a
            skill that took some time to develop.
	        </div>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-lg-3"></div>
	      <div class="col-lg-7">
	        <div class="attribute-heading-text padding-bottom">>>> Self Motivated </div>
	        <div class = "attribute-body-text text-left">
            I love programming and have the drive to work on many different projects. I love learning frameworks and using API's
            I've never used before. Additionally, I like having a small project I can work on whenever I have the time.
	        </div>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-lg-4"></div>
	      <div class="col-lg-7">
	        <div class="attribute-heading-text padding-bottom">>>> Ambitious</div>
	        <div class = "attribute-body-text text-left">
            Programming is a very serious tool and can be used to create a very large (and useful) project. I'd like to play
            a part in the development of a great product.
	        </div>
	      </div>
	    </div>
	    <br><br><br>
  	</div>
  </div>
  <div class="container">

    {% for page_section in home_page.page_sections %}
    <p class="heading-text padding-top padding-bottom text-center">
      {{ page_section.heading }} <img src="{{ page_section.heading_icon }}">
    </p>
    <div class="row reading-font">
      {% for text in page_section.text %}
      <div class="col-lg-{{text.col_length}}">
        <p class="reading-font">
          {% with text=text.value|safe %}
          {{ text | linebreaks }}
          {% endwith %}
        </p>
      </div>
      {% endfor %}
    </div>
    
    {% endfor %}
  </div>
  <div class="container">
    <p class = "heading-text padding-top padding-bottom text-center">
      Send me an Email! <img class="pb-2" src="https://img.icons8.com/nolan/64/email.png">
    </p>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
          <div class="col-lg-6">
              {{ form.first_name | as_crispy_field }}
          </div>
          <div class="col-lg-6">
              {{ form.last_name | as_crispy_field }}
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              {{ form.email | as_crispy_field }}
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              {{ form.inquiry | as_crispy_field }}
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <button type="submit" class="btn btn-outline-dark btn-block">Send</button>
          </div>
      </div>
    </form>
  </div>
</main>

{% endblock %}
