{% extends './base.html' %}

{% block mobile-resume-nav %}
<li class="nav-item active">
    <a class="nav-link nav-text" href=""><i class="fas fa-file-signature"></i> Resume</a>
</li>
{% endblock %}

{% block hero-image-type %}
<div class="hero-sub-image">
{% endblock %}

{% block desktop-resume-nav %}
<li class="nav-item active">
    <a class="nav-link nav-text nav-text--light" href=""><i class="fas fa-file-signature"></i> Resume</a>
</li>
{% endblock %}

{% block hero-image-text %}
<div class = "hero-text text-center">
  <p class = "hero-small-font">
    Resume & References
  </p>
  <p class="hero-small-sub-font">
    Browse through my skills, education, and experience
  </p>
</div>
{% endblock %}

{% block body %}
  <main>
    <div class="container">
      
      <div class="icon-heading-container padding-top--2 padding-bottom--2">
          <p class="heading-text">Objective</p>
          <i class="material-icons heading-icon">
            local_cafe
          </i>
      </div>
      
      <p class="reading-font-lg text-center">Front-End, Back-End, or Full-Stack Development of Web Apps</p>
      
      <div class="icon-heading-container padding-top--2 padding-bottom--2">
          <p class="heading-text">Education</p>
          <i class="material-icons heading-icon">
              library_books
          </i>
      </div>
      
      <div class="row">
        <div class = "col-lg-6">
          <p class="text-center reading-font-lg">Wayne State University</p>
          <p class="text-center reading-font-lg">B.S., Computer Science</p>
        </div>
        <div class="col-lg-6">
          <p class="text-center reading-font-lg">Average GPA: 3.65</p>
          <p class="text-center reading-font-lg">Major GPA: 4.0</p>
        </div>
      </div>
      <div class="icon-heading-container padding-top--2 padding-bottom--2">
        <p class="heading-text">
            Work-Related Projects  
        </p>
        <i class="material-icons heading-icon">
            work
        </i>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p class="reading-font-lg text-center gray-link">Call Harbor: Project 'Betroit'</p>
          <p class="card-body-text">
            As a Full-Stack Developer, I developed a web application whose purpose is to automate the new-client process. 
            There are two interfaces to the application: Client-Side, and Staff-Side.
            <br><br>
            From the Staff-Side, a staff member would put the client's requests into a specialized form, generate a PIN for the client, 
            and send the client over to their side of the application. 
            <br><br>
            From the Client-Side, the client uses the pin to log into a customized form whereby they enter in their client data. 
            Furthermore, this side of the application utilizes REST API services. 
            The Client-Side app is complex, tabbed, and uses an extensive verification process. 
          </p>
          <p class="reading-font">Written in AngularJS, PHP, & mySQL</p>
        </div>
        <div class="col-lg-6 col-sm-12 pt-lg-0 pt-sm-3">
          <p class="reading-font-lg text-center gray-link"><a>Static Website - Contents Protected</a></p>
          <p class="card-body-text">
            I designed a static page during my employment at Active Solutions Group. It consists of a Landing Page, Products page, Team page, and Contact Us page. 
            The Contact Us page sends an email to staff through PHP. Additionally, Contact Us makes use of Google’s Maps Javascript API. 
          </p>
          <p class="reading-font">Written in HTML, CSS, Boostrap, Javascript, and PHP</p>
        </div>
      </div>
      <hr>
      <div class="icon-heading-container padding-top--2 padding-bottom--2">
        <p class="heading-text">Open-Source (Side) Projects</p>
        <i class="material-icons heading-icon">
          code
        </i>
      </div>
      <p class="subheading-text text-center padding-bottom">Click on a project's name to view its Github</p>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <p class="resume-heading text-center">
            <a class="gray-link" href="https://github.com/DSWhite96/Campus_Price_And_Dice">Campus Price & Dice</a>
          </p>
          <p class="card-body-text">
            Working together with a team to develop a web application that allows users to compare prices and view food items 
            among restaurants on campus.
          </p>
          <p class="reading-font">Written in Django</p>
        </div>
        <div class="col-lg-4 col-sm-12 pt-lg-0 pt-sm-3">
          <p class="resume-heading text-center ">
            <a class="gray-link" href="https://github.com/wkatbey/static_portfolio">Online Portfolio</a>
          </p>
          <p class="card-body-text">
            Wrote a website to host my resume and projects. Includes an introduction and a resume page. The contents of the website
            are responsive to an extent.
          </p>
          <p class="reading-font">Written in HTML, CSS, Bootstrap</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 col-sm-12 pt-lg-0 pt-sm-3">
          <p class="resume-heading  text-center">
            <a class="gray-link" href="https://github.com/wkatbey/House-Management-Application">House Management</a>
          </p>
          <p class="card-body-text">
            User can create a house with several appliances (doors, lights, air conditioners). Following
            creation, a house’s appliances can be manipulated.
          </p>
          <p class="reading-font">Written in C++, runs in the console</p>
        </div>
        <div class="col-lg-4 col-sm-12 pt-lg-0 pt-sm-3">
          <p class="resume-heading text-center">
            <a class="gray-link" href="https://github.com/wkatbey/Student-Teacher-Database">Student/Teacher App</a>
          </p>
          <p class="card-body-text">
            User can create, save, and load student and teacher database. Bank Account functionality
            implemented. Developed as a Term Project for Computer Science 1.
          </p>
          <p class="reading-font">Written in C++, runs in the console</p>
        </div>
      </div>
      <hr>
      <div class="icon-heading-container padding-top--2 padding-bottom--2">
          <p class="heading-text">My Skillset</p>
          <i class="material-icons heading-icon">
            build
          </i>
      </div>
      <div class="text-center reading-font">
        <p>C++ & Object Oriented Programming</p>
        <p>HTML</p>
        <p>CSS, Bootstrap, Javascript</p>
        <p><strong>Angular</strong></p>
        <p><strong>Django</strong></p>
        <p><strong>PHP & MySQL</strong></p>
        <p>Git Bash</p>
        <p>Algorithm Analysis</p>
        <p>Data Structures</p>
      </div>
      <div class="icon-heading-container padding-top--2 padding-bottom--2">
          <p class="heading-text">References</p>
          <i class="material-icons heading-icon">
              people
          </i>
      </div>
      <div class = "row text-center body-text">
        <div class="col-lg-4">
              <p>Daniel Ouellette</p>
              <p>Daniel Grosu</p>
              <p>Md Mehedi Hasan</p>
        </div>
        <div class="col-lg-4 hide-on-mobile">
              <p>Wayne State University</p>
              <p>Wayne State University</p>
              <p>Wayne State University</p>
        </div>
        <div class="col-lg-4 hide-on-mobile">
              <p>fx9807@wayne.edu</p>
              <p>dgrosu@wayne.edu</p>
              <p>md.mehedi.hasan@wayne.edu</p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block custom_footer_elements %}

{% endblock %}