{% extends './base.html' %}
{% load static %}

{% block hero-image-type %}
<div class="hero-sub-image hero-sm noon-blue">
{% endblock %}

{% block hero-image-text %}
{% endblock %}

{% block body %}

<div class="">
    <div class="container pt-5 pb-5">
        <p class="heading-text text-center pb-4">Objective</p>
        <p class="reading-font-lg text-center">
            Aspiring Software Architect - with demonstrated experience in Micro-Service based architecture
        </p>

        <p class="heading-text text-center pt-5 pb-4">Work Experience</p>
        <div class="row">
            <div class="col-lg-9">
                <p class="attribute-heading-text">Automated Media Inc</p>
                <p class="reading-font">Full-Stack Software Engineer: January 2020 - Present</p>
                <p class="attribute-body-text">
                    Maintained and added new features to existing web applications. My Front-End work was done with Angular 2+, and 
                    my Back-End work with ASP.NET Core. I used Transact-SQL (SQL Server) and MongoDB on the persistence layer.
                    <br /><br />
                    I used Git and SVN for version control.
                </p>
            </div>
            <div class="col-lg-9 pt-3">
                <p class="attribute-heading-text">Urban Science</p>
                <p class="reading-font">Full-Stack Development Intern: May 2019 - December 2019</p>
                <p class="attribute-body-text">
                    Maintained and added new features to an existing web application. My Front-End work
                    was done with Angular 2+, with NgRx state management. My Back-End work with
                    ASP.NET Core. I used Transact-SQL (SQL Server) on the persistence layer.
                    <br /><br />
                    I used Git and TFS for version control.
                </p>
            </div>

            <div class="col-lg-9 pt-3">
                <p class="attribute-heading-text">Call Harbor</p>
                <p class="reading-font">Full-Stack Developer: June 2018 - March 2019</p>
                <p class="attribute-body-text">
                    Wrote a Web Application, from start to finish. My Front-End work was done with
                    Angular 1.x, and my Back-End work with PHP. I used MySQL on the persistence layer.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="morning-blue pt-5">
    <div class="container text-white pt-5 pb-5">
        <p class="heading-text text-center pb-5 icon-heading-container">
            Open-Source (Side) Projects
            <i class="material-icons heading-icon">
                code
            </i>
        </p>
        <div class="row">
            <div class="col-lg-6">
                <p class="attribute-heading-text">
                    <a class="lightblue-link" href="https://github.com/wkatbey/SapphireBlogging" target="_blank">Sapphire Blogging</a>
                </p>
                <p class="reading-font">Django, Vue, PostgreSQL, to be hosted through Heroku</p>
                <p class="attribute-body-text">
                    A blogging application, designed cutely by me. I overuse gradients, but it's so cute. The colors on each individual page
                    communicate that page's purpose to the user.

                    I wanted a blogging experience that felt immersive. 
                </p>
            </div>
            <div class="col-lg-6 pt-5 pt-md-2 pt-lg-0">
                <p class="attribute-heading-text">
                    <a class="lightblue-link" href="https://fullpostalcode.com" target="_blank">What's My Zipcode?</a>
                </p>
                <p class="reading-font">Django and Angular, hosted through Heroku</p>
                <p class="attribute-body-text">
                    A web application, wherein both the 5 and 4 digit zipcodes
                    (for any given location in the U.S.) are displayed. Utilizes USPS’ Address Information API.
                    <br><br>
                    There are two versions of this application! It was
                    originally written with an ASP.NET Core Back-End, you can find the older source code
                    <a href="https://github.com/wkatbey/ZipPostalCodeLookup" class="lightblue-link">here</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pt-5 pt-md-2 pt-lg-4">
                <p class="attribute-heading-text">
                    <a class="lightblue-link" href="https://wassimkatbey.com" target="_blank">Portfolio & Blogging App</a>
                </p>
                <p class="reading-font">Django, PostgreSQL, hosted through Heroku</p>
                <p class="attribute-body-text">
                    The website you're currently on; a multi-page Django-based web application!
                    <br><br>
                    A blogging application runs within the same source code (The 'Blog' button up top). It was later extracted into
                    its own project (Sapphire Blogging).
                </p>
            </div>
            <div class="col-lg-6 pt-5 pt-md-2 pt-lg-4">
                <p class="attribute-heading-text">
                    <a class="lightblue-link" href="https://github.com/DSWhite96/Campus_Price_And_Dice" target="_blank">Price & Dice</a>
                </p>
                <p class="reading-font">Django</p>
                <p class="attribute-body-text">
                    Worked with a team on an application that enables users to compare prices and view food items
                    among restaurants on campus. This is a school project.
                </p>
            </div>
        </div>
    </div>  
 </div>
<div class="morning-blue--transition-to-blue">
    <div class="container text-white pt-5 pb-5">
        <div class="icon-heading-container pb-5">
            <p class="heading-text">My Skillset</p>
            <i class="material-icons heading-icon">
                build
            </i>
        </div>
        <div class="text-center reading-font pt-5 pt-md-2 pt-lg-0">
            <p><strong>Angular</strong></p>
            <p><strong>ASP.NET Core</strong></p>
            <p><strong>Django</strong></p>
            <p><strong>PHP</strong></p>
            <p><strong>Transact-SQL</strong></p>
            <p><strong>MySQL</strong></p>
        </div>
    </div>
    <div style="margin-left: 10px; color: white; font-size: 9px">
        <a style="color: white" href="https://icons8.com">
            Check out Icons8! I used their icons
        </a> <br>
        Copyright &copy Wassim Katbey 2020
    </div>
</div>



{% endblock %}

{% block custom_footer_elements %}
{% endblock %}
